node_modules

npm-debug.log*
*.sublime*

.*
!.gitignore
!.gitattributes
!.npmignore
!.eslintrc
!.babelrc
!.eslintignore

dist
!example/dist

package-lock.json.*

factory.js
factory.js.map
react-plotly.js
react-plotly.js.map
package-lock.json
yarn.lock
