node_modules

npm-debug.log*
*.sublime*

.*
!.gitignore
!.gitattributes
!.npmignore
!.eslintrc
!.eslintignore
!dist

example/dist

package-lock.json.*

factory.js
factory.js.map
react-plotly.js
react-plotly.js.map
