.codeContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  padding: 2px;
}

.codeContainer:before {
  content: ' ';
  position: absolute;
  left: -2px;
  right: -2px;
  top: 1px;
  height: 0px;
  border-top: 1px solid #ccc;
}

.codeContainer--invalid {
  border: 2px solid red;
  padding: 0;
}
