.react-dat-gui {
  position: fixed;
  right: 16px;
  bottom: 0;
  width: 280px;
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }
  .react-dat-gui *, .react-dat-gui *:before, .react-dat-gui *:after {
    box-sizing: inherit; }
  .react-dat-gui .dg {
    margin: 0;
    padding: 0;
    color: #eee;
    overflow: auto; }
    .react-dat-gui .dg.main {
      background: #1a1a1a; }
      .react-dat-gui .dg.main::-webkit-scrollbar {
        width: 5px;
        background: #1a1a1a; }
      .react-dat-gui .dg.main::-webkit-scrollbar-corner {
        height: 0;
        display: none; }
      .react-dat-gui .dg.main::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #676767; }
  .react-dat-gui .cr {
    display: flex;
    border-bottom: 1px solid #272727;
    user-select: none; }
    .react-dat-gui .cr.number {
      border-left: 5px solid #2FA1D6; }
      .react-dat-gui .cr.number .slider {
        display: none;
        position: relative;
        width: 40%;
        border: 3px solid #1a1a1a;
        border-right-width: 1px;
        background-color: #303030;
        user-select: none;
        cursor: ew-resize; }
        .react-dat-gui .cr.number .slider:hover, .react-dat-gui .cr.number .slider.is-active {
          background-color: #3c3c3c; }
        .react-dat-gui .cr.number .slider .slider-bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2FA1D6; }
      .react-dat-gui .cr.number input[type=text] {
        width: 60%;
        color: #2FA1D6; }
      .react-dat-gui .cr.number.has-slider .slider {
        display: block; }
      .react-dat-gui .cr.number.has-slider input[type=text] {
        width: 20%; }
    .react-dat-gui .cr.string {
      border-left: 5px solid #1ed36f; }
      .react-dat-gui .cr.string input[type=text] {
        width: 60%;
        color: #1ed36f; }
    .react-dat-gui .cr.boolean {
      border-left: 5px solid #806787; }
      .react-dat-gui .cr.boolean label {
        width: calc(100% - 1.2em - 10px); }
      .react-dat-gui .cr.boolean .checkbox-wrapper {
        position: relative;
        width: calc(1.2em + 10px); }
        .react-dat-gui .cr.boolean .checkbox-wrapper .checkbox,
        .react-dat-gui .cr.boolean .checkbox-wrapper input[type=checkbox] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .react-dat-gui .cr.boolean .checkbox-wrapper .checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #1a1a1a;
          background: #303030;
          z-index: 0;
          left: auto;
          right: 0; }
          .react-dat-gui .cr.boolean .checkbox-wrapper .checkbox > .checkmark {
            display: none;
            width: 0.7em;
            height: 0.7em;
            stroke-width: 10px;
            stroke: #99829f; }
        .react-dat-gui .cr.boolean .checkbox-wrapper input[type=checkbox] {
          margin: 0;
          opacity: 0;
          z-index: 1; }
        .react-dat-gui .cr.boolean .checkbox-wrapper input[type=checkbox]:checked ~ .checkbox > .checkmark {
          display: block; }
        .react-dat-gui .cr.boolean .checkbox-wrapper input[type=checkbox]:hover ~ .checkbox {
          background-color: #3c3c3c; }
    .react-dat-gui .cr.button {
      border-left: 5px solid #c5bdad; }
      .react-dat-gui .cr.button:hover {
        background: #111; }
      .react-dat-gui .cr.button span {
        width: 100%;
        cursor: pointer; }
    .react-dat-gui .cr label, .react-dat-gui .cr span {
      display: inline-block;
      align-items: center;
      min-width: 0;
      width: 40%;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none; }
    .react-dat-gui .cr input[type=text] {
      background: #303030;
      border: 3px solid #1a1a1a;
      border-radius: 0;
      padding: 2px 5px;
      outline: none;
      font-size: inherit; }
      .react-dat-gui .cr input[type=text]:hover {
        background: #3c3c3c; }
      .react-dat-gui .cr input[type=text]:focus {
        background: #494949;
        color: #fff; }
